{{ comp Base}}
<div class="md:mx-auto mx-[20px] max-w-4xl blog mb-[200px]">
    <h1 class="text-6xl mt-4 mb-6">{{title}}</h1>
    <a href="/" class="text-xl text-blue-700 underline underline-offset-1">Back Home</a>
    <h4 class="text-md mb-2">Topics</h4>
    {{ comp.rowList({ items: tags}) }}
    <blockquote class="border-l-4 border-gray-400 italic pl-4 text-gray-600 my-5 ">
    {{featuredQuote}}
    </blockquote>
    <div class="text-xl">
    {{content}}
    </div>
</div>
{{/comp}}