<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio of Derik van Schaik, showcasing projects and skills.">
  <meta name="keywords" content="Derik van Schaik, portfolio, software developer, projects">
  <meta name="author" content="Derik van Schaik">
  <title>Derik {{ title || ''}}</title>
  <link rel="stylesheet" href="{{BASE_URL}}/styles.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="bg-black text-white bg-gradient-to-r from-black via-gray-900 to-black h-64 w-full">
<nav class="text-lg py-2 max-w-6xl mx-[20px] md:mx-auto flex flex-col md:flex-row">
    <div>
      <a href="/">
        <h3 class="text-lg">DERIK</h3>
      </a>
    </div>
    <div class="w-auto flex-1"></div>
    <div class="flex flex-col gap-2 md:flex-row">
      <a href="{{BASE_URL}}/#about" class="px-5 py-1 border-2 rounded-md border-gray-800">About</a>
      <a href="{{BASE_URL}}/#portfolio" class="px-5 py-1 border-2 rounded-md border-gray-800">Portfolio</a>
      <a href="{{BASE_URL}}/#experience" class="px-5 py-1 border-2 rounded-md border-gray-800">Experience</a>
    </div>
</nav>
{{ content }}
</body>
</html>
  
